.logo-container {
  z-index: 0;
  width: 900px;
  height: 809px;
  opacity: 1; /* Ensure opacity is set to 1 */
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 0;
  left: 600px;
  margin: auto;

  .solid-logo {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%) rotateZ(30deg); /* Center and rotate */
    width: 100%;
    opacity: 1; /* Ensure opacity is set to 1 */
    z-index: 1;
  }
}

